@using System.Globalization
@using System.Text.Json
@using WSRS_SWAFO.ViewModels
@model AccountViewModel

@{
    ViewData["Title"] = "Account";

    @* For changing name to title case *@
    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
    string nameTitleCase = textInfo.ToTitleCase(Model.Name.ToLower());
}

@section customHead {
    <link rel="stylesheet" href="~/css/accountStyle.css" asp-append-version="true" />
}

@if (TempData["LogOutMessage"] is string messageJson && !string.IsNullOrEmpty(messageJson))
{
    var message = JsonSerializer.Deserialize<ToastViewModel>(messageJson);
    <partial name="_ToastPartial" model="@message" />

    <script>
        // Will redirect the user in 6 seconds

        setTimeout(() => {
            window.location.href = '@Url.Action("SignOut", "LogOn")';
        }, 6000); 
    </script>
}

<div id="account">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <section>
        <dl>
            <dt>Email</dt>
            <dd>@Model.Email.ToLower()</dd>
            <dt>Name</dt>
            <dd>@nameTitleCase</dd>
        </dl>
    </section>

    <section>
        <h2>Offline Management</h2>
        @* TODO Add an alert if they do not have a password yet *@
        <a class="btn dark-btn" asp-action="UpdatePassword">Update Offline Password</a>
    </section>
</div>

@section scripts {
    <script src="~/js/account.js" asp-append-version="true" ></script>

}