@using WSRS_SWAFO.Data.Enum
@using WSRS_SWAFO.ViewModels
@model ReportEncodedViewModel
@{
    Layout = "_EncodeLayout";
    ViewData["Title"] = "Student Violation";

    string today = DateOnly.FromDateTime(DateTime.Now).ToString("yyyy-MM-dd");
    ViewData["ViolationType"] = "Regular";
}

@section customHead {
    <link rel="stylesheet" href="~/css/studentViolationStyle.css" asp-append-version="true" />
}

<div class="title">
    <form asp-controller="Encode" asp-action="StudentRecordViolation" method="post">
        <button type="submit" class="btn-function" name="violationType" value="Student Violation">
            <svg width="32" height="32" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 22L24 14" stroke="black" stroke-width="2" stroke-linecap="round" />
                <path d="M16 22L24 30" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>
        </button>
    </form>
    <h2>Step 3</h2>
    @if (ViewData["ViolationType"] != null)
    {
        <span class="pill-indicator bg-success text-white">
            @ViewData["ViolationType"]
        </span>
    }
</div>

<p>Record and encode the violation in the system</p>

<div class="panel">
    <form id="record-violation" asp-controller="Encode" asp-action="EncodeStudentViolation" method="post">
        <div id="student-information">
            <h3>Student Information</h3>
            <dl>
                <dt>Student Number:</dt>
                <dd>@Model.StudentNumber</dd>
                <dt>Student Name:</dt>
                <dd>@Model.FirstName @Model.LastName</dd>
            </dl>
            <input hidden asp-for="StudentNumber" value="@Model.StudentNumber" readonly />
            <input hidden asp-for="FirstName" value="@Model.FirstName" readonly />
            <input hidden asp-for="LastName" value="@Model.LastName" readonly />
        </div>
        <div class="pane-structure">
            <div class="content-pane">
                <div class="input-wrapper">
                    <select asp-for="CollegeID" class="input" autocomplete="College" aria-required="true">
                        <option disabled hidden selected>-- Select an option --</option>
                        @foreach (var item in ViewBag.Colleges)
                        {
                            <option value="@item.CollegeID">@item.CollegeID</option>
                        }
                    </select>
                    <label class="label">College<span>*</span></label>
                    <span class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    <input asp-for="Course" type="text" class="input" autocomplete="CYS" aria-required="true" />
                    <label class="label">CYS<span>*</span></label>
                    <span class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    @* TODO Later fix this date *@
                    <input asp-for="CommissionDate" type="date" class="input" value="@today" autocomplete="dateOfCommission" aria-required="true" />
                    <label class="label">Commission Date<span>*</span></label>
                    <span class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    <select class="input" id="offenseClassification" aria-required="true">
                        <option disabled hidden selected>-- Select an option --</option>
                        @foreach (var item in Html.GetEnumSelectList<OffenseClassification>().Where(e => e.Value == "0" || e.Value == "1"))
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <label class="label">Classification of Offense<span>*</span></label>
                    <span class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    <select asp-for="OffenseId" class="input" id="offenseNature" aria-required="true">
                        <option disabled hidden selected>-- Select an option --</option>
                    </select>
                    <label class="label">Nature of Offense<span>*</span></label>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="content-pane">
                <div class="input-wrapper" id="hearingDate">
                    <input asp-for="HearingDate" type="date" class="input" autocomplete="dateOfCommission" aria-required="true" />
                    <label class="label"><span>*</span></label>
                    <span class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    <input asp-for="Description" type="text" class="input description" autocomplete="description" aria-required="true" />
                    <label class="label">Description</label>
                    <span class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    <input asp-for="Sanction" type="text" class="input" autocomplete="sanction" aria-required="true" />
                    <label class="label">Sanction<span>*</span></label>
                    <span class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    @* <input asp-for="StatusOfSanction" type="text" class="input description" autocomplete="statusOfSanction" aria-required="true" /> *@
                    <select asp-for="StatusOfSanction" class="input" aria-required="true">
                        <option disabled hidden selected>-- Select an option --</option>
                        <option value="Pending">Pending</option>
                        <option value="Ongoing">Ongoing</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <label class="label">Status of Sanction</label>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn dark-btn">
            Submit
        </button>
    </form>
</div>

@section Scripts {
    <script src="~/js/offenses.js"></script>
    <script src="~/js/studentViolation.js"></script>
}
