@using WSRS_SWAFO.ViewModels
@model GoodMoralRequestViewModel

@{
    Layout = "_EncodeLayout";
    ViewData["Title"] = "GMC Request";
}

@section customHead {
    <link rel="stylesheet" href="~/css/studentViolationStyle.css" asp-append-version="true" />
}

<div class="pending">
    <div class="report-list">
        @if (Model.GMCRequests.Any())
        {
            @foreach (var item in Model.GMCRequests)
            {
                <partial name="_GMCRequestModalPartial" model="@item" />
                <div class="report-tile">
                    <span class="report-tile-item">
                        <div class="label">
                            No.
                        </div>
                        <div>
                            @item.Id
                        </div>
                    </span>
                    <span class="report-tile-item">
                        <div class="label">
                            Application Date
                        </div>
                        <div>
                            @item.ApplicationDate
                        </div>
                    </span>
                    <span class="report-tile-item">
                        <div class="label">
                            Student Number
                        </div>
                        <div>
                            @item.StudentNumber
                        </div>
                    </span>
                    <span class="report-tile-item">
                        <div class="label">
                            Full Name
                        </div>
                        <div>
                            @item.FullName
                        </div>
                    </span>
                    <span class="report-tile-item long">
                        <div class="label">
                            Purpose
                        </div>
                        <div>
                            @item.Purpose
                        </div>
                    </span>

                    <span class="button-group">
                        <div>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="@($"#gmcRequestModal{item.Id}")">
                                Action
                            </button>
                        </div>
                    </span>
                </div>
            }
        }
        else
        {
            <div class="text-center">There are no pending reports at the moment</div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/gmcRequests.js"></script>
}
