@using WSRS_SWAFO.ViewModels
@model RecordDetailsViewModel

@section customHead {
    <link rel="stylesheet" href="~/css/recordStyle.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Details";
}

<!-- Confirm Delete Modal  -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
          <h2 class="modal-title fs-2" id="confirmDeleteModalLabel">Confirm Delete</h2>
          Are you sure you want to delete this record?
      </div>
      <div class="modal-footer">
          <button class="btn" type="button" data-bs-dismiss="modal">
              No
          </button>
        <form id="confirmDeleteForm" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <button class="btn dark-btn" type="submit">
                Yes
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="details">
    <section>
        @* TODO Back button *@
        <h2>Details</h2>
        <hr />
        <dl>
            <dt>Student Number</dt>
            <dd>@Model.StudentNumber</dd>
            <dt>Student Name</dt>
            <dd>@Model.Name</dd>
            <dt>Course</dt>
            <dd>@Model.Course</dd>
            <dt>College</dt>
            <dd>@Model.College</dd>
            <input asp-for="OffenseId" type="hidden" value="@Model.OffenseId"/>
            <dt>Classification</dt>
            <dd>@Model.Classification</dd>
            <dt>Nature</dt>
            <dd>@Model.Nature</dd>
            <dt>Sanction</dt>
            <dd>@Model.Sanction</dd>
            <dt>Status</dt>
            <dd>@Model.Status</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">
            Edit
        </a>
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
          Delete
        </button>
    </section>
    @* TODO Add Buttons to edit and delete *@
</div>

<script src="~/js/records.js"></script>

