@using WSRS_SWAFO.ViewModels
@model RecordDetailsViewModel

@section customHead {
    <link rel="stylesheet" href="~/css/recordStyle.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Details";
}

<div id="details">
    <h1>Manage Records</h1>
    <hr />
    <section>
        <div class="title">
            <a asp-action="Index">
                <svg width="32" height="32" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="21.5" cy="21.5" r="20.5" stroke="black" stroke-width="2" />
                    <path d="M16 22L24 14" stroke="black" stroke-width="2" stroke-linecap="round" />
                    <path d="M16 22L24 30" stroke="black" stroke-width="2" stroke-linecap="round" />
                </svg>
            </a>
            <h2>Details</h2>
        </div>
        <div class="panel">
            <dl>
                <dt>Student Number</dt>
                <dd>@Model.StudentNumber</dd>
                <dt>Student Name</dt>
                <dd>@Model.Name</dd>
                <dt>Course</dt>
                <dd>@Model.Course</dd>
                <dt>College</dt>
                <dd>@Model.College</dd>
                <input asp-for="OffenseId" type="hidden" value="@Model.OffenseId" />
                <dt>Classification</dt>
                <dd>@Model.Classification</dd>
                <dt>Nature</dt>
                <dd>@Model.Nature</dd>
                <dt>Sanction</dt>
                <dd>@Model.Sanction</dd>
                <dt>Status</dt>
                <dd>@Model.Status</dd>
                <dt>Description</dt>
                <dd>@Model.Description</dd>
            </dl>

            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn dark-btn">
                Edit
            </a>
        </div>
    </section>
</div>

@section scripts {
    <script src="~/js/records.js"></script>
}
