@using WSRS_SWAFO.Data.Enum
@using WSRS_SWAFO.ViewModels
@model EditRecordViewModel

@section customHead {
    <link rel="stylesheet" href="~/css/recordStyle.css" asp-append-version="true" />
}

@{
    string fullName = string.Concat(Model.Student.FirstName, " ", Model.Student.LastName);

    string formattedCommissionDate = Model.CommissionDate.ToString("yyyy-MM-dd");
    string formattedHearingDate = Model.HearingDate?.ToString("yyyy-MM-dd") ?? string.Empty;
    string today = DateOnly.FromDateTime(DateTime.Now).ToString("yyyy-MM-dd");

    ViewData["Title"] = "Edit Record";
}

<div id="edit">
    <h1>Manage Records</h1>
    <hr />
    <section>
        <div class="title">
            <h2>Edit Record</h2>
        </div>
        <form asp-action="Edit" asp-route-id="@Model.Id" class="panel">
            <dl>
                <input asp-for="Id" type="hidden" value="@Model.Id">

                <dt>Student Number</dt>
                <dd>@Model.Student.StudentNumber</dd>
                <input asp-for="StudentNumber" type="hidden" value="@Model.StudentNumber">

                <dt>Student Name</dt>
                <dd>@fullName</dd>

                <dt>College</dt>
                <dd>@Model.College</dd>
                <input asp-for="College" type="hidden" value="@Model.College">

                <input asp-for="OffenseId" type="hidden" value="@Model.OffenseId">

                <dt>Classification</dt>
                <dd>@Model.Offense.Classification</dd>

                <dt>Nature</dt>
                <dd>@Model.Offense.Nature</dd>
            </dl>

            @* Course *@
            <div class="input-wrapper">
                <input asp-for="Course" type="text" class="input" aria-required="true">
                <label asp-for="Course" class="label">CYS<span>*</span></label>
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>

            @* Commission Date *@
            <div class="input-wrapper">
                <input asp-for="CommissionDate" type="date" class="input" value="@formattedCommissionDate" aria-required="true">
                <label asp-for="CommissionDate" class="label">Commission Date<span>*</span></label>
                <span asp-validation-for="CommissionDate" class="text-danger"></span>
            </div>

            @* Hearing Date*@
            @if (Model.Offense.Classification == OffenseClassification.Major)
            {
                <div class="input-wrapper">
                    <input asp-for="HearingDate" type="date" class="input" value="@(string.IsNullOrEmpty(formattedHearingDate) ? today : formattedHearingDate)" aria-required="true">
                    <label asp-for="HearingDate" class="label">Hearing Date<span>*</span></label>
                    <span asp-validation-for="HearingDate" class="text-danger"></span>
                </div>
            }

            @* TODO Hearing Date if Major *@

            @* Sanction *@
            <div class="input-wrapper">
                <input asp-for="Sanction" type="text" class="input" aria-required="true">
                <label asp-for="Sanction" class="label">Sanction</label>
                <span asp-validation-for="Sanction" class="text-danger"></span>
            </div>

            @* Status of Sanction *@
            <div class="input-wrapper">
                <input asp-for="StatusOfSanction" type="text" class="input" aria-required="true">
                <label asp-for="StatusOfSanction" class="label">Status of Sanction<span>*</span></label>
                <span asp-validation-for="StatusOfSanction" class="text-danger"></span>
            </div>

            @* Description *@
            <div class="input-wrapper">
                <input asp-for="Description" type="text" class="input" aria-required="true">
                <label asp-for="Description" class="label">Description</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="button-group">
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn">
                    Cancel
                </a>
                <button type="submit" class="btn dark-btn">Save</button>
            </div>
        </form>
    </section>
</div>

<script src="~/js/records.js"></script>

