@using WSRS_SWAFO.ViewModels
@model EditRecordViewModel

@section customHead {
    <link rel="stylesheet" href="~/css/recordStyle.css" asp-append-version="true" />
}

@{
    string fullName = string.Concat(Model.FirstName, " ", Model.LastName);

    string formattedCommissionDate = Model.CommissionDate.ToString("yyyy-MM-dd");
    string originalDate = Model.OriginalDate?.ToString("yyyy-MM-dd") ?? Model.CommissionDate.ToString("yyyy-MM-dd");

    ViewData["Title"] = "Edit Record";
}

<partial name="_StudentModalPartial" />

<div id="edit">
    <h1>Manage Records</h1>
    <hr />
    <section>
        <div class="title">
            <h2>Edit Record</h2>
        </div>
        <form asp-action="Edit" asp-route-id="@Model.Id" class="panel">
            <div class="d-flex align-items-center gap-2">
                <h3 class="mb-0">Record No.</h3><span class="pill-indicator bg-success text-white">@Model.Id</span>
            </div>
            <dl>
                <input asp-for="Id" type="hidden" value="@Model.Id">

                <dt>Student Number</dt>
                <dd>
                    <button type="button" class="text-button" data-student="@Model.StudentNumber" data-bs-toggle="modal" data-bs-target="#studentModal">
                        @Model.StudentNumber
                    </button>
                </dd>

                <dt>Student Name</dt>
                <dd>@fullName</dd>

                <dt>College</dt>
                <dd>@Model.College</dd>

                <dt>Classification</dt>
                <dd>@Model.Classification</dd>

                <dt>Nature</dt>
                <dd>@Model.Nature</dd>
            </dl>

            @* Course *@
            <div class="input-wrapper">
                <input asp-for="Course" type="text" class="input" aria-required="true">
                <label asp-for="Course" class="label">CYS<span>*</span></label>
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>

            @* Commission Date *@
            <div class="input-wrapper">
                <input asp-for="OriginalDate" type="hidden" class="input" value="@originalDate" aria-required="true">
                <input asp-for="CommissionDate" type="date" class="input" value="@formattedCommissionDate" aria-required="true">
                <label asp-for="CommissionDate" class="label">Commission Date<span>*</span></label>
                <span asp-validation-for="CommissionDate" class="text-danger"></span>
            </div>

            @* Sanction *@
            <div class="input-wrapper">
                <input asp-for="Sanction" type="text" class="input" aria-required="true">
                <label asp-for="Sanction" class="label">Sanction</label>
                <span asp-validation-for="Sanction" class="text-danger"></span>
            </div>

            @* Status of Sanction *@
            <div class="input-wrapper">
                @* <input asp-for="StatusOfSanction" type="text" class="input" aria-required="true"> *@
                <select asp-for="StatusOfSanction" class="input" aria-required="true">
                    <option value="Pending">Pending</option>
                    <option value="Ongoing">Ongoing</option>
                    <option value="Completed">Completed</option>
                </select>
                <label asp-for="StatusOfSanction" class="label">Status<span>*</span></label>
                <span asp-validation-for="StatusOfSanction" class="text-danger"></span>
            </div>

            @* Description *@
            <div class="input-wrapper">
                <input asp-for="Description" type="text" class="input" list="descriptionSuggestions">
                <label asp-for="Description" class="label">Description</label>
                <span asp-validation-for="Description" class="text-danger"></span>
                <datalist id="descriptionSuggestions"></datalist>
            </div>

            <div class="button-group">
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn">
                    Cancel
                </a>
                <button type="submit" class="btn dark-btn">Save</button>
            </div>
        </form>
    </section>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/records.js"></script>
    <script src="~/js/offenses.js"></script>
    <script src="~/js/components/studentModal.js" type="module" asp-append-version="true"></script>
}
