@using WSRS_SWAFO.Helpers;
@using WSRS_SWAFO.ViewModels
@model RecordsIndexViewModel

@{
    ViewData["Title"] = "Manage Records";
}

@section customHead {
    <link rel="stylesheet" href="~/css/recordStyle.css" asp-append-version="true" />
}

@* TODO managing (editing, deleting, viewing) of records *@

<div id="records">
    <h1>@ViewData["Title"]</h1>

    <div class="control-group">
        <form method="get" id="searchForm">
            <input type="search" name="searchString" placeholder="Search" aria-required="true" value="@Model.SearchString">

            <div class="button-group">
                <button type="submit" class="btn-function">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_173_68)">
                            <path d="M6.41667 11.0833C8.994 11.0833 11.0833 8.994 11.0833 6.41667C11.0833 3.83934 8.994 1.75 6.41667 1.75C3.83934 1.75 1.75 3.83934 1.75 6.41667C1.75 8.994 3.83934 11.0833 6.41667 11.0833Z"
                                  stroke="#1E1F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12.25 12.25L9.71252 9.71249" stroke="#1E1F20" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_173_68">
                                <rect width="14" height="14" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                @if (!string.IsNullOrEmpty(Model.SearchString))
                {
                    <a asp-action="Index" class="btn">
                        Clear
                    </a>
                }
            </div>
        </form>
    </div>

    <table id="recordsTable">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-controller="Records"
                       asp-route-sortOrder="@Model.CommissionDateSort"
                       asp-route-searchString="@Model.SearchString">
                        @* TODO Place this action to an reversible icon *@
                        Commission Date
                    </a>
                </th>
                <th>Nature</th>
                <th>Student Number</th>
                <th>Name</th>
                <th>College</th>
                <th>Status of Sanction</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Records.Any())
            {
                <tr>
                    <td colspan="6">
                        <div>No records found.</div>
                        <a asp-controller="Encode" asp-action="StudentRecordViolation" class="btn">
                            Encode new record
                        </a>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var record in Model.Records.ToList())
                {
                    <tr>
                        <td>@record.CommissionDate</td>
                        <td>@StringHelper.TruncateWithEllipsis(record.OffenseNature, 40)</td>
                        <td>@record.StudentNumber</td>
                        <td>@record.Name</td>
                        <td>@record.College</td>
                        <td>@record.Status</td>
                        <td>
                            @* TODO Change to a view icon *@
                            <a asp-action="Details" asp-route-id="@record.Id"
                               class="btn">
                                Show
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script src="~/js/records.js"></script>
