@using NUglify.Helpers
@using WSRS_SWAFO.ViewModels
@model TrafficRecordDetailsViewModel

@section customHead {
    <link rel="stylesheet" href="~/css/recordStyle.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Details";
}

<partial name="_StudentModalPartial" />

<div id="details">
    <h1>Manage Records</h1>
    <hr />
    <section>
        <div class="title">
            <a asp-action="Index" class="btn-function">
                <svg width="32" height="32" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 22L24 14" stroke="black" stroke-width="2" stroke-linecap="round" />
                    <path d="M16 22L24 30" stroke="black" stroke-width="2" stroke-linecap="round" />
                </svg>
            </a>
            <h2>Details</h2>
        </div>
        <div class="panel">
            <div class="d-flex align-items-center gap-2 mb-3">
                <h3 class="mb-0">Traffic Record No.</h3><span class="pill-indicator bg-warning">@Model.Id</span>
            </div>
            <dl>
                <dt>Student Number</dt>
                <dd>
                    <button type="button" class="text-button" data-student="@Model.StudentNumber" data-bs-toggle="modal" data-bs-target="#studentModal">
                        @Model.StudentNumber
                    </button>
                </dd>
                <dt>Student Name</dt>
                <dd>@Model.Name</dd>
                <dt>College</dt>
                <dd>@Model.College</dd>
                <input asp-for="OffenseId" type="hidden" value="@Model.OffenseId" />
                <dt>Classification</dt>
                <dd>@(Model.Classification.ToString().Substring(0, 5) + " Traffic")</dd>
                <dt>Nature</dt>
                <dd>@Model.Nature</dd>
                <dt>Commission Date</dt>
                <dd>@Model.FormattedCommissionDate</dd>
                <dt>Plate Number</dt>
                <dd>@Model.PlateNumber</dd>
                <dt>Place</dt>
                <dd>@Model.Place</dd>
                <dt>Remarks</dt>
                <dd>@Model.Remarks</dd>
                <dt>Date Paid</dt>
                <dd>@(!Model.DatePaid.HasValue ? "-" : Model.FormattedDatePaid)</dd>
                <dt>OR Number</dt>
                <dd>@(Model.ORNumber.IsNullOrWhiteSpace() ? "-" : Model.ORNumber)</dd>
            </dl>
            @if (User.IsInRole("AppRole.Admin"))
            {
                <a asp-action="EditTraffic" asp-route-id="@Model.Id" class="btn dark-btn">
                    Edit
                </a>
            }
        </div>
    </section>
</div>

@section scripts {
    <script src="~/js/records.js"></script>
    <script src="~/js/components/studentModal.js" type="module" asp-append-version="true"></script>
}

