@using NUglify.Helpers
@using WSRS_SWAFO.Helpers;
@using WSRS_SWAFO.ViewModels
@model TrafficRecordsIndexViewModel

@{
    ViewData["Title"] = "Manage Records";

    static string GetClassficationStyle(string classification) => classification.Split(" ")[0].ToLower();
}

@section customHead {
    <link rel="stylesheet" href="~/css/recordStyle.css" asp-append-version="true" />
}

<partial name="_StudentModalPartial" />

<div id="records">
    <h1>Manage Records</h1>
    <div id="category-function" class="mt-1">
        <a asp-action="Index" id="regular" class="btn">Regular</a>
        <a asp-action="Traffic" id="traffic" class="btn active">Traffic</a>
    </div>
    <hr />
    <div class="control-group">
        <form method="get" id="searchForm">
            <input type="search" name="searchString" placeholder="Search" aria-required="true" value="@Model.CurrentFilter">

            <div class="button-group">
                <button type="submit" class="btn-function">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_173_68)">
                            <path d="M6.41667 11.0833C8.994 11.0833 11.0833 8.994 11.0833 6.41667C11.0833 3.83934 8.994 1.75 6.41667 1.75C3.83934 1.75 1.75 3.83934 1.75 6.41667C1.75 8.994 3.83934 11.0833 6.41667 11.0833Z"
                                  stroke="#1E1F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12.25 12.25L9.71252 9.71249" stroke="#1E1F20" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_173_68">
                                <rect width="14" height="14" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                @if (!string.IsNullOrEmpty(@Model.CurrentFilter))
                {
                    <a asp-action="Traffic" class="btn">
                        Clear
                    </a>
                }
            </div>
        </form>
    </div>
    
    <div class="table-responsive">
        <table id="recordsTable">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index"
                           asp-controller="Records"
                           asp-route-sortOrder="@Model.CommissionDateSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @* TODO Place this action to a reversible icon *@
                            Commission Date
                        </a>
                    </th>
                    <th>Classification</th>
                    <th>Nature</th>
                    <th>Student Number</th>
                    <th>Name</th>
                    <th>College</th>
                    <th>Official Receipt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Pagination.Items.Any())
                {
                    <tr class="empty">
                        <td colspan="7">
                            <div>No records found.</div>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var record in Model.Pagination.Items)
                    {
                        <tr>
                            <td>@record.FormattedCommissionDate</td>
                            <td>
                                <span class="@GetClassficationStyle(record.OffenseClassification)">
                                    @record.OffenseClassification
                                </span>
                            </td>
                            <td class="long">@StringHelper.TruncateWithEllipsis(record.OffenseNature, 40)</td>
                            <td>
                                <button type="button" class="text-button" data-student="@record.StudentNumber" data-bs-toggle="modal" data-bs-target="#studentModal">
                                    @record.StudentNumber
                                </button>
                            </td>
                            <td class="long">@record.Name</td>
                            <td>@record.College</td>
                            <td>@(record.ORNumber.IsNullOrWhiteSpace() ? "-" : record.ORNumber)</td>
                            <td>
                                <a asp-action="TrafficDetails" asp-route-id="@record.Id" class="btn-function">
                                    <svg width="32" height="32" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="rotate(180, 21.5, 21.5)">
                                            <path d="M16 22L24 14" stroke="black" stroke-width="2" stroke-linecap="round" />
                                            <path d="M16 22L24 30" stroke="black" stroke-width="2" stroke-linecap="round" />
                                        </g>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @* Pagination Controls *@
    <div class="row mt-2 p-1">
        <div class="col-md-6">
            Results: @Model.Pagination.TotalItems
        </div>
        <div class="col-md-6">
            @if (Model.Pagination.TotalPages > 1)
            {
                <nav>
                    <ul class="pagination align-items-center justify-content-end">
                        <li class="page-item @(Model.Pagination.PageIndex == 1 ? "disabled" : "")">
                            <a class="page-link text-black"
                               asp-route-pageIndex="1"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentFilter="@Model.CurrentFilter">
                                <span>First</span>
                            </a>
                        </li>
                        <li class="page-item @(Model.Pagination.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link text-black"
                               asp-route-pageIndex="@(Model.Pagination.PageIndex - 1)"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentFilter="@Model.CurrentFilter">
                                <span>&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item p-2 @(Model.Pagination.TotalPages == 0 ? "hidden" : "")">
                            @string.Concat(Model.Pagination.PageIndex, " of ", Model.Pagination.TotalPages)
                        </li>

                        <li class="page-item @(Model.Pagination.HasNextPage ? "" : "disabled")">
                            <a class="page-link text-black"
                               asp-route-pageIndex="@(Model.Pagination.PageIndex + 1)"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentFilter="@Model.CurrentFilter">
                                <span>&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item @(Model.Pagination.PageIndex == Model.Pagination.TotalPages || Model.Pagination.TotalPages == 0 ? "disabled" : "")">
                            <a class="page-link text-black"
                               asp-route-pageIndex="@Model.Pagination.TotalPages"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentFilter="@Model.CurrentFilter">
                                <span>Last</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/records.js"></script>
    <script src="~/js/components/studentModal.js" type="module" asp-append-version="true"></script>
}

