@using WSRS_SWAFO.Dtos
@model GMCRequestDto

@{
    var formattedApplicationDate = Model.ApplicationDate.ToString("yyyy-MM-dd");
}

<div class="modal fade" id="@($"gmcRequestModal{Model.Id}")" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-2">
                <div class="modal-title d-flex align-items-center gap-2">
                    <h2>Request no.</h2><span class="pill-indicator bg-secondary text-white fw-bold">@Model.Id</span>
                </div>
                <dl>
                    <dt>Requested by</dt>
                    <dd>@Model.FullName - @Model.StudentNumber</dd>
                </dl>

                <form asp-action="UpdateRequestStatus" asp-route-id="@Model.Id" method="post" class="d-flex flex-column gap-3">
                    <div class="input-wrapper">
                        <input asp-for="ApplicationDate" type="date" class="input" value="@formattedApplicationDate" readonly>
                        <label asp-for="ApplicationDate" class="label"></label>
                    </div>

                    <div class="input-wrapper">
                        <input asp-for="Purpose" type="text" class="input" readonly>
                        <label asp-for="Purpose" class="label"></label>
                    </div>

                    <div class="input-wrapper">
                        <input asp-for="Copies" type="text" class="input" readonly>
                        <label asp-for="Copies" class="label"></label>
                    </div>

                    <div class="input-wrapper">
                        <input asp-for="FullName" type="text" class="input" readonly>
                        <label asp-for="FullName" class="label"></label>
                    </div>

                    <div class="input-wrapper">
                        <input asp-for="Course" type="text" class="input" readonly>
                        <label asp-for="Course" class="label"></label>
                    </div>

                    <div class="input-wrapper">
                        <input asp-for="StudentNumber" type="text" class="input" readonly>
                        <label asp-for="StudentNumber" class="label"></label>
                    </div>

                    <div class="input-wrapper">
                        <input asp-for="Gender" type="text" class="input" readonly>
                        <label asp-for="Gender" class="label"></label>
                    </div>

                    <div class="input-wrapper">
                        <input asp-for="PhoneNumber" type="text" class="input" readonly>
                        <label asp-for="PhoneNumber" class="label"></label>
                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn dark-btn" name="action" value="approve">Approve</button>
                        <div>
                            <button type="submit" class="btn bg-danger text-white border-danger" name="action" value="deny">Deny</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
